%h1 Listing readers

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @readers.each do |reader|
    %tr
      %td= reader.name
      %td= link_to 'Show', reader, id: "show"
      %td= link_to 'Edit', edit_reader_path(reader), id: "edit"
      %td= link_to 'Destroy', reader, :method => :delete, :data => { :confirm => 'Are you sure?', id: "destroy" }

%br

= link_to 'New Reader', new_reader_path
