-if @reader
  %div.full-width{class: "card"}
    = link_to "profile", reader_path(@reader), id: "profile"
    = link_to "logout", logout_user_path(@reader), id: "logout"
-else
  %div.full-width{class: "card", id: "login"}= link_to "login", User.login_url
%div.header
  =image_tag "open_book.jpg", class: "header_img"
  %div.header_title Library

-if flash[:notice]
  %div.full-width{class: "card danger"}= flash[:notice]


%div.full-width#search{class: "card"}
  %form.form-inline{role: "form", method: "post", action: search_books_path}  
    %div.form-group{class: "col-md-2"}            
      %select.form-control{name: "type", id: "search_type"}      
        - @all_field.each do |field|              
          %option= field                          
    %div.form-group{class: "col-md-8"}            
      %input{class: "form-control", type: "text", name: "keywords", id: "search_keywords"} 
    %button{class: "btn btn-primary"} Search 
                                                  

%div.full-width
  %div.col-md-6{class: "card"}
    = link_to "View all books", books_path, id: "view_book"
    %br
    Wang
    %br
    The system is wonferful.
  %div.col-md-6{class: "card"}
    %strong
      Notifications
    %br
    Today is Sunday, I'm going for some fun. Don't bother me with the library stuff.


