%nav.full-width{class: "navbar navbar-default", roll: "navigation"}
  %div{class: "collapse navbar-collapse"}
    %ul{class: "nav navbar-nav"}
      %li
        = link_to "Home", home_path
      %li.active
        = link_to "All Books", books_path
    %ul{class: "nav navbar-nav navbar-right"}
      - if current_reader
        %li
          = link_to "profile", reader_path(current_reader), id: "profile"
        %li
          = link_to "logout", logout_user_path(current_reader), id: "logout"
      - else
        %li
          = link_to "login", User.login_url
%header
  %h1 Listing books
%div.card{class: "full-width"}
  %form.form-inline{role: "form", :method => :post, :action => search_books_path}
    %div.form-group{class: "col-md-2"}
      %select.form-control{:name => :type, :id => "search_type"}
        - @all_field.each do |field|
          %option= field 
    %div.form-group{class: "col-md-8"}
      %input{class: "form-control", type: "text", :name => :keywords, :id => "search_keywords"}
    %input{name: "authenticity_token", type: "hidden", value: "#{form_authenticity_token}"}
    %button{class: "btn btn-primary", :id => "search_button"} Search

- @books.each do |book|
  %div.card{class: "full-width"}
    %h3= book.title
    %div.row
      %div.col-md-2
        %strong
          ISBN
      %div.col-md-10= book.ISBN
    %div.row
      %div.col-md-2
        %strong
          author
      %div.col-md-10= book.author
    %div.row
      %div.col-md-2
        %strong
          Remain/Total
      %div.col-md-10
        #{book.remain_num}/#{book.total_num}
    = link_to '更多', book
%br
