%header
  %h1 Listing books
%div.card{class: "full-width"}
  %form.form-inline{role: "form", :method => :post, :action => search_books_path}
    %div.form-group{class: "col-md-2"}
      %select.form-control{:name => :type, :id => "search_type"}
        - @all_field.each do |field|
          %option= field 
    %div.form-group{class: "col-md-8"}
      %input{class: "form-control", type: "text", :name => :keywords, :id => "search_keywords"}
    %button{class: "btn btn-primary", :id => "search_button"} Search

- @books.each do |book|
  %div.card{class: "full-width"}
    %h3= book.title
    %div.row
      %div.col-md-2
        %strong
          ISBN
      %div.col-md-10= book.ISBN
    %div.row
      %div.col-md-2
        %strong
          author
      %div.col-md-10= book.author
    %div.row
      %div.col-md-2
        %strong
          Remain/Total
      %div.col-md-10
        #{book.remain_num}/#{book.total_num}
    = link_to '更多', book

%br
