%nav.full-width{class: "navbar navbar-default", roll: "navigation"}
  %div{class: "collapse navbar-collapse"}
    %ul{class: "nav navbar-nav"}
      %li
        = link_to "Home", home_path
      %li
        = link_to "All Books", books_path
    %ul{class: "nav navbar-nav navbar-right"}
      - if current_reader
        %li
          = link_to "profile", reader_path(current_reader), id: "profile"
        %li
          = link_to "logout", logout_user_path(current_reader), id: "logout"
      - else
        %li
          = link_to "login", User.login_url
%header
  %h1 Details of #{@book.title}

-if notice
  %div.card{class: "full-width danger"}= notice

%div.card{class: "full-width"}              
  %h3= @book.title                           
  %div.row
    %div.col-md-2
      %strong
        ISBN
    %div.col-md-10= @book.ISBN
  %div.row                                  
    %div.col-md-2                           
      %strong                               
        author                              
    %div.col-md-10= @book.author             
  %div.row                                  
    %div.col-md-2                           
      %strong                               
        description                         
    %div.col-md-10= @book.description*20     
  %br                                       
  %div.row                                  
    %div.col-md-2                           
      %strong                               
        Remain/Total                        
    %div.col-md-10                          
      #{@book.remain_num}/#{@book.total_num}  
  - if @reserved_time != 0
    %div.row
      %div.col-md-12
        reserved by #{@reserved_time} readers
  = link_to "返回", books_path
  %br
    - if @admin_flag
      %form.form-inline{role: "form", method: :post, action: borrow_book_path(@book)}
        %input{name: "authenticity_token", type: "hidden", value: "#{form_authenticity_token}"}
        %div.form-group
          %input{class: "form-control", type: "text", name: "reader_name", placeholder:"Your name", id: "borrow_reader"}
        %button{class: "btn btn-primary", id: "borrow_button"} 借出
      - unless @readers.empty?
        %form.form-inline{role: "form", method: :post, action: return_book_path(@book)}
          %input{name: "authenticity_token", type: "hidden", value: "#{form_authenticity_token}"}
          %div.form-group
            %select.form-control{name: "reader_name", id: "return_reader"}
              - @readers.each do |reader|
                %option= reader.name
          %button{class: "btn btn-primary", id: "return_button"} 归还
    - if @can_reserve
      %form{method: :post, action: reserve_book_path(@book)}
        %input{name: "authenticity_token", type: "hidden", value: "#{form_authenticity_token}"}
        %button{class: "btn btn-primary", id: "reserve_button"} 预定
        
    - if @can_unreserve
      %form{method: :post, action: unreserve_book_path(@book)}
        %input{name: "authenticity_token", type: "hidden", value: "#{form_authenticity_token}"}
        %button{class: "btn btn-primary", id: "unreserve_button"} 取消预定
      
